.grid {
  border: 1px solid red;
  position: relative;
  height: 1000px;
  width: 650px;
  margin: 0 auto;
}

.whoPlayer {
  border: 1px solid blue;
  display: inline-block;
  position: relative;
  float: right;
  top: 167px;
  right: 20%;
}

.line {
  border: 3px solid black;
  position: relative;
  /* top: 5%; */
  width: 600px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

.box {
  top: 10%;
  height: 150px;
  width: 150px;
  margin: 15px;
  border: 8px solid black;
  display: inline-block;
  position: relative;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 50pt;
}

button {
  display: block;
  background-color: grey;
}
