h1 {
  text-align: center;
  font-size: 50pt;
}

/* button {
  display: block;
  background-color: grey;
} */

input {
  margin: 0 auto;
}

p {
  font-size: 15pt;
}

.grid {
  /* border: 1px solid red; */
  position: relative;
  height: 1000px;
  width: 650px;
  margin: 0 auto;
}

.whoPlayer {
  /* border: 3px solid black; */
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 300px;
  text-align: center;
}

.scoreboard {
  /* border: 3px solid black; */
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 300px;
  text-align: center;
}

.round {
  border: 3px solid black;
  padding-bottom: 5%;
}

.status {
  border: 3px solid black;
  /* padding: 10%; */
  margin-top: 20%;
  display: block;
  position: relative;
  width: 300px;
  height: 150px;
  text-align: center;
}

.reset {
  border: 3px solid black;
  margin-top: 20%;
  display: block;
  position: relative;
  width: 300px;
  height: 150px;
  text-align: center;
  visibility: hidden;
}

.player, .opponent {
  top: 18%;
  left: 5%;
  width:305px;
  position: relative;
  border-radius: 3px solid red;
}

.nameInput{
  border: 3px solid black;
  display: block;
  position: relative;
  width: 300px;background-color: white;
  margin-top: 5%;
  text-align: center;
  padding: 10%;
}
.currentPlayer {
  border: 3px solid black;
  padding: 10%;
  display: block;
  position: relative;
  width: 300px;
  text-align: center;
}

.line {
  border: 3px solid black;
  position: relative;
  /* top: 5%; */
  width: 600px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

.box {
  top: 10%;
  height: 150px;
  width: 150px;
  margin: 15px;
  border: 8px solid black;
  display: inline-block;
  position: relative;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.start {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  font-size: 30pt;
}

#resetGame {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  font-size: 30pt;
}

.cPlayerO {
  width: 100%;
  height: 100%;
  background-color: blue;
  color: white;
}

.cPlayerAI {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
}

.winner {
  width: 100%;
  height: 100%;
  background-color: violet;
  color: white;
}

.draw {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.avatar {
  border: 3px solid black;
  width: 100px;
  height: 80px;
  color: black;
  font-size: 30pt;
  background-color: white;
  text-align: center;
  display: inline-block;
}

.playerChooser {
  width: 100px;
  height: 80px;
  color: black;
  font-size: 30pt;
  background-color: white;
}

#oImage {
  background-image: url("../images/o.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

#xImage {
  background-image: url("../images/x.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

#aiImage {
  background-image: url("../images/hal.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#hImage {
  background-image: url("../images/human.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
